*{
    margin: 0;
    padding: 0;
}
#footer .a3{
    color: #5aaaff;
}
#header{
    width: 7.5rem;
    height: 1.28rem;
    background-color: #17181a;
}
#header .img1{
    width: 7.5rem;
    float: left;
}
#header .img2{
    width: 0.2rem;
    height: 0.36rem;
    float: left;
    margin-top: 0.25rem;
    margin-left: 0.3rem;
}
#header span{
    font-size: 18px;
    color: white;
    float: left;
    margin-top: 0.15rem;
    margin-left: 2.6rem;
}

.coniater{

    width: 6.9rem;
    height: 10.4rem;
    margin-left: rem;
    width: 100%;
    height: 10.4rem;

}
.coniaterList_one{
    width: 6.9rem;
    height: 1.1rem;
    border-bottom: 1px solid  #e6e6e6;
    margin-left:0.3rem;

}
.coniaterList_one .background{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.03rem;
    background-color: #f72530;
    margin-top: 0.25rem;
}
.coniaterList_one .background img{
    float: left;
    height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.15rem;
}
.coniaterList_one .Text_one{
    float: left;
    font-size: 16px;
    margin-left: 1.1rem;
    margin-top: -0.9rem
}
.coniaterList_one .Text_two{
    float: left;
    font-size: 14px;
    margin-left: 1.1rem;
    margin-top: -0.4rem;
    color: #cdcdcd;
}
.coniaterList_one .Text_three{
    float: left;
    font-size: 16px;
    margin-left: 5.9rem;
    margin-top: -0.5rem;
    color: #cdcdcd;
}
.coniaterList_two{
    width: 6.9rem;
    height: 1.1rem;
    border-bottom: 1px solid  #e6e6e6;
    margin-left:0.3rem;

}
.coniaterList_two .background{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.03rem;
    background-color: #f7ba11;
    margin-top: 0.25rem;
}
.coniaterList_two .background img{
    float: left;
    height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}
.coniaterList_two .Text_one{
    float: left;
    font-size: 16px;
    margin-left: 1.1rem;
    margin-top: -0.9rem
}
.coniaterList_two .Text_two{
    float: left;
    font-size: 14px;
    margin-left: 1.1rem;
    margin-top: -0.4rem;
    color: #cdcdcd;
}
.coniaterList_two .Text_three{
    float: left;
    font-size: 16px;
    margin-left: 5.9rem;
    margin-top: -0.5rem;
    color: #cdcdcd;
}
.coniaterList_three{
    width: 6.9rem;
    height: 1.1rem;
    border-bottom: 1px solid  #e6e6e6;
    margin-left:0.3rem;
}
.coniaterList_three .background{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.03rem;
    background-color: #f72530;
    margin-top: 0.25rem;
}
.coniaterList_three .background img{
    float: left;
    height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.15rem;
}
.coniaterList_three .Text_one{
    float: left;
    font-size: 16px;
    margin-left: 1.1rem;
    margin-top: -0.9rem
}
.coniaterList_three .Text_two{
    float: left;
    font-size: 14px;
    margin-left: 1.1rem;
    margin-top: -0.4rem;
    color: #cdcdcd;
}
.coniaterList_three .Text_three{
    float: left;
    font-size: 16px;
    margin-left: 5.9rem;
    margin-top: -0.5rem;
    color: #cdcdcd;
}
.coniaterList_four{
    width: 6.9rem;
    height: 1.1rem;
    border-bottom: 1px solid  #e6e6e6;
    margin-left:0.3rem;
}
 .coniaterList_four .background{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.03rem;
    background-color: #f7ba11;
    margin-top: 0.25rem;
}
.coniaterList_four .background img{
    float: left;
    height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}
.coniaterList_four .Text_one{
    float: left;
    font-size: 16px;
    margin-left: 1.1rem;
    margin-top: -0.9rem
}
.coniaterList_four .Text_two{
    float: left;
    font-size: 14px;
    margin-left: 1.1rem;
    margin-top: -0.4rem;
    color: #cdcdcd;
}
.coniaterList_four .Text_three{
    float: left;
    font-size: 16px;
    margin-left: 5.9rem;
    margin-top: -0.5rem;
    color: #cdcdcd;
}