*{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
#app_header{
    width: 7.5rem;
    height: 1.28rem;
    margin: 0 auto;
}
.nav_01{
    width: 7.5rem;
    height: 0.4rem;
}
.nav_01 img{
    width: 7.5rem;
    height: 0.39rem;
    float: left;
}
.nav_02{
    width: 7.50rem;
    height: 0.88rem;
    background-color: black;
    float: left;
}
.enroll{
    color: aliceblue;
    font-size: 0.3rem;
    margin-left: 3rem;
    padding-top: 0.26rem;
    float: left;
}
#app_container{
    width: 7.50rem;
    height: 12.07rem;
    margin: 0 auto;
}
.ico{
    margin-left: 2.50rem;
    margin-top: 1.77rem;
    width: 2.4rem;
    height: 2.4rem;
}
.text1{
    font-size: 0.45rem;
    margin-top: 0.35rem;
    text-align: center
}
.text2{
    text-align: center;
    font-size: 0.30rem;
    color: #999999;
    margin-top: 0.25rem;
}
.text3{
    font-size: 0.35rem;
    text-align: center;
    margin-top: 4.53rem;
    color: #0092fc;
    font-weight:bold;
    letter-spacing:0.04rem;
}
a{
    text-decoration: none;
}