*{
    margin: 0;
    padding: 0;
  }
  .nev{
    height: 11.23rem;
    width:7.5rem;
  }
  .header{
    height: 0.4rem;
    width:7.5rem;
    float:left;
  }
  .img_one{
    height: 0.4rem;
    width: 7.5rem;
    float:left;
  }
  .img_two{
    width: 7.5rem;
    height: 10.83rem;
  }
  .container_left{
    height: 0.92rem;
    width: 7.5rem;
  }
  .container_left_size{
    font-size: 0.46rem;
    font-family: 仿宋;
    padding-left: 2.37rem;
    padding-top: 0.46rem;
    width: 2.35rem;
    height: 0.49rem;
  }
  .container_night{
    width: 7.5rem;
    height: 1.19rem;
  }
  .container_night_size{
    font-size: 0.26rem;
    color: rgb(170, 170, 170);
    font-family: 仿宋;
    padding-top: 0.18rem;
    padding-left: 2.16rem;
    height: 0.34rem;
    width: 2.86rem;
  }
  .container{
    height: 2.11rem;
    width: 7.5rem;
  }