*{
    margin: 0;
    padding: 0;
}
#footer .a4{
    color: #5aaaff;
}
#header{
    width: 7.5rem;
    height: 1.28rem;
    background-color: #17181a;
}
#header .img1{
    width: 7.5rem;
    float: left;
}
#header .img2{
    float: left;
    width: 0.2rem;
    margin-left: 0.3rem;
    margin-top: 0.26rem;
}
#header .img3{
    float: left;
    width: 0.5rem;
    margin-left: 6.3rem;
    margin-top: 0.2rem;
}
#header p{
    position: absolute;
    font-size: 18px;
    color: white;
    top: 0.55rem;
    left: 3rem;
}
#coniatner{
    width: 7.5rem;
    height: 11.55rem;
}
#coniatner ul{
    width: 7.5rem;
    height: 5.5rem;
}
#coniatner ul .li-1{
    width: 7.5rem;
    height: 0.82rem;
    background-color: #f7eabd;
}
#coniatner ul .li-1 p{
    float: left;
    font-size: 18px;
    margin-left: 0.3rem;
    margin-top: 0.12rem;
}
#coniatner ul .li-1 img{
    float: left;
    width: 0.47rem;
    height: 0.47rem;
    margin-left: 1.35rem;
    margin-top: 0.15rem;
}
#coniatner ul .li-2{
    width: 7.2rem;
    height: 1.4rem;
    border-bottom: 1px  solid #e6e6e6;
    margin-left: 0.3rem;
}
#coniatner ul .li-2 .bj{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #b38eff;
    border-radius: 3px;
    float: left;
    margin-top: 0.3rem;
}
#coniatner ul .li-2 img{
   width: 0.57rem;
   height: 0.65rem;
   position: absolute;
   margin-left: 0.15rem;
   margin-top: 0.16rem;
}
#coniatner ul .li-2 p{
    float: left;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}
#coniatner ul .li-3{
    width: 7.2rem;
    height: 1.4rem;
    border-bottom: 1px  solid #e6e6e6;
    margin-left: 0.3rem;
}
#coniatner ul .li-3 .bj{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #b38eff;
    border-radius: 3px;
    float: left;
    margin-top: 0.3rem;
}
#coniatner ul .li-3 img{
   width: 0.57rem;
   height: 0.65rem;
   position: absolute;
   margin-left: 0.15rem;
   margin-top: 0.16rem;
}
#coniatner ul .li-3 p{
    float: left;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}
#coniatner ul .li-4{
    width: 7.2rem;
    height: 1.4rem;
    border-bottom: 1px  solid #e6e6e6;
    margin-left: 0.3rem;
}
#coniatner ul .li-4 span{
    font-size: 14px;
    float: left;
    margin-top: 0.6rem;
}
#coniatner ul .del{
    float: left;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #fe0000;
    margin-left: 4.48rem;
}
#coniatner ul .del p{
    font-size: 16px;
    color: white;
    margin-top: 0.43rem;
    margin-left: 0.4rem
}